* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

.top-cont {
  height: 46%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("https://media.architecturaldigest.com/photos/5bdc8f9654719d268fefc80b/master/w_4288,h_2848,c_limit/16%20Vassar%20Wiki.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  background-color: black;

  height: 8%;
  padding-left: 70%;
  padding-right: 5%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar div {
  height: 100%;
  color: white;

  display: flex;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  padding: 5%;

  font-size: 20px;
  font-weight: 300;
}

.nav-bar div:hover {
  background-color: rgb(50, 50, 50);
}

.bottom-cont {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to right, rgb(255, 60, 100), rgb(255, 100, 60));
  height: 46%;
}

.bottom-cont p {
  width: 60%;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
}

.signup-cont,
.login-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 100, 100);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  padding: 50px;
  border-radius: 20px;
}

.signup-cont {
  margin-left: 60px;
}

.signup-cont input,
.login-cont input {
  height: 50px;
  width: 350px;
  margin-top: 15px;

  font-size: 20px;
  text-align: center;

  outline: none;
  border: none;
  border-radius: 5px;

  background-color: rgb(256, 230, 230);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.signup-cont label,
.login-cont label {
  font-size: 32px;
  margin-bottom: 20px;
}

.signup-cont button,
.login-cont button {
  height: 50px;
  width: 150px;
  margin-top: 30px;
  font-size: 22px;

  border-radius: 5px;
  border: none;

  background-color: rgb(256, 230, 230);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.auth-cont {
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
}

.about-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-cont p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.college-search-button {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.alert-cont {
  height: 80px;
  width: 800px;
  border-radius: 40px;
  font-size: 25px;

  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0%);

  color: white;
  background-color: rgb(37, 37, 37);

  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-cont {
  animation: slideDownUp 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slideDownUp {
  0%,
  100% {
    top: -100px;
  }
  50% {
    top: 100px;
  }
}
